 .header-right {
   content: url(./resources/logos/lapup.png);
   top: 0;
   height: 11%;
   width: auto;
   z-index: -1;
   position: absolute;
   top: 0%;
   right: 0%;
   justify-content: left;
 }

 .header-left {
   content: url(./resources/logos/upatras.png);
   top: 0;
   height: 11%;
   width: auto;
   left: 0px;
   z-index: 3;
   justify-content: left;
 }

 .container {
   display: flex;
   align-items: center;
 }

 .col {
   flex: 1;
 }

 .mytable tr td {
   border-bottom: none;
 }